<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img src="https://cdn-icons-png.flaticon.com/512/1507/1507155.png" width="30px"/>
      &nbsp;<a class="navbar-brand" href="#">Anime</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"
          routerLink="/listar-animes">
          Ver animes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"
      routerLink="/crear-animes">
      Agregar animes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"
          routerLink="/acerca-de">
          Acerca De</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>