<img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Logo_UTSJR_new.gif" class="card-img-top tamaño" alt="..." >
<div class="separacion">
<div class="textocampo">
    <img src="https://sysarmy.com/blog/assets/proyectos-programadores3.png" class="tamaño">
    <br>
    <br>
      Somos estudiantes de la Universidad Tecnológica de San Juan del Río y actualmente estamos cursando el 9no Cuatrimestre en la Carrera de Desarrollo y Gestión de Software.
      En este proyecto realizamos una aplicación web para que nuestros usuarios o cualquiera que haya visto anime, pueda administrar esos animes de su elección de una mejor manera; nuestra app esta desarrollada en Angular y esta consume una API, la cual desarollamos con NodeJs, Express y MongoDB.
      <br>
      <br>
      <h3>Nombre de los Desarrolladores:</h3>
      <br>
      Álvarez Barrón Jaqueline
      <br>
      Covarrubias Oceguera Alexis
      <br>
      González Lira Rodrigo
      <br>
      Mejía Correa Fátima Belem
      <br>
      <br>
      
</div>
</div>